index.css
html {
	/* border: red 1px solid; */
	height: 100vh;
	font-family: Inter;
}

body {
	/* border: red 1px solid; */
	/* background-color: rgb(250, 232, 208); */
	height: 100%;
	margin: 0;
}

:root {
	--dark-blue: rgb(1, 9, 32);
	--title-color: rgb(1, 9, 32);
	--button-font-color: white;
	--button-font-color-hover: rgb(1, 9, 32);
	--button-color: rgb(1, 9, 32);
	--border: rgb(1, 9, 32) 1px solid;
}